main {
    padding: 1em;
}

.visually-hidden {
    clip: 0;
    display: block;
    height: 0;
    overflow: hidden;
    position: relative;
    width: 0;
}

hr {
    border: 1px solid #e3e3e3;
    color: #e3e3e3;
    margin: 1em 0;
}

thead  { font-weight: bold }

td input { width: 90% }

.text-end { text-align: end }
.text-start { text-align: start }
.text-center { text-align: center }

th, td {
    padding: 0.25em 0.5em;
}

tbody tr:nth-child(odd) {
    background-color: #e3e3e3;
}

.description {
    border-left: 0.2em solid #f90;
    padding: 0.5em;
}

main > footer {
    color: #666;
    font-size: 85%;
    margin-top: 3em;
    text-align: center;
}

.form-control {
    margin: 1em 0;
}

.form-control label {
    margin-right: 0.3em;
}

.danger-icon {
    background-color: #f00;
    border-radius: 100%;
    color: #fff;
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    height: 1em;
    margin: 0 0 0 0.5em;
    padding: 0;
    text-align: center;
    vertical-align: baseline;
    width: 1em;
}
