<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DnD Tools -- Distance to Time Calculator</title>

    <meta name="description" content="Converts miles to time for various modes of conveyance factoring in the max number of hours traveled per day." />
    <meta name="version" content="v0.3" />

    <meta name="author" content="bmcminn <https://github.com/bmcminn>" />

    <link rel="stylesheet" href="../assets/normalize.css">
    <link rel="stylesheet" href="../assets/styles.css">

</head>
<body>

    <main>
        <header>
            <a href="../">back</a>
        </header>

        <section id="app">></section>

        <footer>
            <details class="text-start" id="changelog">
                <summary>Changelog:</summary>

                <h3>2023-04-18</h3>
                <ul>
                    <li>Bump app version to v0.3</li>
                    <li>Make view completely data driven</li>
                    <li>Allow user to dynamically add/remove new conveyance types</li>
                    <li>Update document title text to include tool name</li>
                    <li>Make app title driven by HTML <code>&lt;title&gt;</code> tag</li>
                    <li>Make app description driven by HTML <code>&lt;meta&gt;</code> tag</li>
                    <li>Make app version driven by HTML <code>&lt;meta&gt;</code> tag</li>
                </ul>


                <h3>2023-04-17</h3>
                <ul>
                    <li>Bump app version to v0.2</li>
                    <li>Add boat speed stats</li>
                    <li>Fix #3; add localStorage cache recall for last known values</li>
                    <li>Fix #2; update default travel speeds</li>
                    <li>Fix #2; add mechanic to factor in max travel hours per day</li>
                </ul>

                <h3>2023-04-16</h3>
                <ul>
                    <li>Initial App setup; v0.1</li>
                </ul>
            </details>

            <p class="text-center">
                Source repo: <a href="https://github.com/bmcminn/dnd-tools">https://github.com/bmcminn/dnd-tools</a>
            </p>
        </footer>
    </main>


    <template id="main">
        <h1>{{ title }} {{version}}</h1>

        <p class="description">
            {{ description }}
        </p>


        <hr>


        <div>

            <div class="form-control">
                <label for="distance">Distance (miles):</label>
                <input type="number"
                    @change="cache"
                    id="distance"
                    name="distance"
                    min="0"
                    v-model="distance"
                >
            </div>

            <div class="form-control">
                <label for="hoursPerDay">Daily travel hours:</label>
                <input type="number"
                    @change="cache"
                    id="hoursPerDay"
                    name="hoursPerDay"
                    min="0"
                    max="24"
                    v-model="hoursPerDay"
                >
                <span v-if="unsafeTravelHours" class="danger-icon" :title="`Traveling for ${hoursPerDay} hours per day is dangerous`">!</span>
            </div>


            <table>
                <thead>
                    <th style="min-width: 5em">Conveyance</th>
                    <th style="min-width: 5em">Avg <abbr title="miles per hour">MPH</abbr></th>
                    <th style="min-width: 5em">Travel hrs</th>
                    <th style="min-width: 5em">Weeks</th>
                    <th style="min-width: 5em">Days</th>
                    <th style="min-width: 5em">Hours</th>
                    <th style="min-width: 5em">Minutes</th>
                    <th style="min-width: 5em">Total hrs</th>
                </thead>

                <tbody>
                    <tr is="vue:conveyance"
                        v-for="item in entries"
                        :key="item.key"
                        :item="item"
                        :distance="distance"
                        :hours-per-day="hoursPerDay"
                        @update="onUpdate"
                        @remove="onRemove"
                    >
                    </tr>
                </tbody>

                <tfoot>
                    <tr>
                        <td colspan="40" class="text-center py-1">
                            <button @click="addNewConveyance">Add new conveyance +</button>
                        </td>
                    </tr>
                </tfoot>
            </table>

        </div>

    </template>


    <template id="conveyance">
        <tr>
            <td>
                <label class="visually-hidden" :for="`${item.label}Label`">Label:</label>
                <input type="text"
                    @change="triggerUpdate"
                    :name="`${item.label}Label`"
                    :id="`${item.label}Label`"
                    v-model="item.label"
                >
            </td>

            <td>
                <label class="visually-hidden" :for="`avg${item.label}Speed`">Avg {{ item.label }} Speed (mph):</label>
                <input type="number"
                    @change="triggerUpdate"
                    :name="`avg${item.label}Speed`"
                    :id="`avg${item.label}Speed`"
                    min="0"
                    step="0.5"
                    v-model="item.avgSpeed"
                >
            </td>

            <td class="text-end">{{ travelTime.travelHours }}</td>
            <td class="text-end">{{ travelTime.weeks }}</td>
            <td class="text-end">{{ travelTime.days }}</td>
            <td class="text-end">{{ travelTime.hours }}</td>
            <td class="text-end">{{ travelTime.minutes }}</td>
            <td class="text-end">{{ travelTime.totalHours }}</td>

            <td><button @click="triggerRemove">&times;</button></td>
        </tr>

    </template>


    <script type="module">
        // import { createApp } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.prod.js'
        import { createApp } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'

        const BASE_ENTRIES = [
            { key: 1111111, label: 'Walking', avgSpeed: 3 },
            { key: 1111110, label: 'Horse', avgSpeed: 12 },
            { key: 1111100, label: 'Wagon', avgSpeed: 6 },
            { key: 1111000, label: 'Boat', avgSpeed: 7.5 },
        ]

        const ConveyanceComponent = {

            template: getTemplate('template#conveyance'), // document.querySelector

            data() {
                return {

                }
            },

            props: {
                item: Object,
                distance: Number,
                hoursPerDay: Number,
            },

            methods: {

                triggerRemove() {
                    this.$emit('remove', this.item)
                },

                triggerUpdate() {
                    this.$emit('update')
                },

                calcTravelTime() {

                    const avgSpeed      = Number(this.item.avgSpeed)
                    const hoursPerDay   = Number(this.hoursPerDay)
                    const distance      = Number(this.distance)

                    const travelHours   = distance / avgSpeed // * (1 + (hoursPerDay / 24))
                    const totalHours    = travelHours * (24 / hoursPerDay)

                    const data = {
                        weeks:      Math.floor(totalHours / (24 * 7)),
                        days:       Math.floor((totalHours / 24) % 7),
                        hours:      Math.floor(totalHours % 24),
                        minutes:    Math.floor(totalHours % 1 * 60),
                        totalHours: totalHours.toFixed(2),
                        travelHours: travelHours.toFixed(2),
                        avgSpeed: avgSpeed
                    }

                    return data
                },
            },

            computed: {
                travelTime() { return this.calcTravelTime() },
            },


            mounted() {
                // console.log(this.item, this.distance, this.hoursPerDay)
            },
        }

        const RootComponent = {

            template: getTemplate('template#main'),

            data() {
                return {
                    title: document.querySelector('title').innerText,
                    version: document.querySelector('meta[name="version"]').content,
                    description: document.querySelector('meta[name="description"]').content,
                    storageKey: 'dndDistanceState',
                    distance: 100,
                    hoursPerDay: 8,
                    safeTravelHours: 12,
                    entries: BASE_ENTRIES,
                }
            },

            methods: {

                addNewConveyance() {
                    this.entries.push({
                        label: 'New',
                        avgSpeed: 5,
                        key: new Date().getTime()
                    })

                    this.cache()
                },

                travelHours(speed) {
                    timeWalking.travelHours
                },


                onRemove(entry) {
                    console.log('remove', entry)

                    this.entries = this.entries.filter(el => el.key !== entry.key)

                    this.cache()
                },


                onUpdate($e, entry) {
                    console.log('onUpdate', entry)

                    this.cache()
                },


                cache() {
                    const data = JSON.stringify({
                        distance: this.distance,
                        hoursPerDay: this.hoursPerDay,
                        entries: this.entries,
                    })

                    localStorage.setItem(this.storageKey, data)
                },

                readCache() {
                    return JSON.parse(localStorage.getItem(this.storageKey))
                },

            },

            computed: {
                unsafeTravelHours() { return this.hoursPerDay > this.safeTravelHours },
            },

            mounted() {
                const data = this.readCache()

                if (data) {
                    this.distance       = data.distance ?? 100
                    this.hoursPerDay    = data.hoursPerDay ?? 12
                    this.entries        = data.entries ?? BASE_ENTRIES
                }
            },

        }

        createApp(RootComponent)
        .component('conveyance', ConveyanceComponent)

        .mount('#app')



        function getTemplate($el) {
            return document.querySelector($el).innerHTML
        }


        /**
         * { function_description }
         * @sauce   https://www.freecodecamp.org/news/javascript-debounce-example/
         * @param   {callable}  callback        The callback
         * @param   {number}    [timeout=300]   The timeout
         * @return  {callable}                  The resulting debounce handler
         */
        function debounce(callback, timeout = 300){
          let timer;
          return (...args) => {
            clearTimeout(timer);
            timer = setTimeout(() => { callback.apply(this, args); }, timeout);
          };
        }

    </script>

</body>
</html>
