<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DnD Tools</title>

    <link rel="stylesheet" href="../assets/normalize.css">
    <link rel="stylesheet" href="../assets/styles.css">

</head>
<body>

    <main>
        <header>
            <a href="../">back</a>
        </header>

        <section id="app">></section>

        <footer>
            <details class="text-start">
                <summary>Change log:</summary>

                <h3>2023-04-17</h3>
                <ul>
                    <li>Bump app version to v0.2</li>
                    <li>Add boat speed stats</li>
                    <li>Fix #3; add localStorage cache recall for last known values</li>
                    <li>Fix #2; update default travel speeds</li>
                    <li>Fix #2; add mechanic to factor in max travel hours per day</li>
                </ul>

                <h3>2023-04-16</h3>
                <ul>
                    <li>Initial App setup; v0.1</li>
                </ul>
            </details>

            <p class="text-center">
                Source repo: <a href="https://github.com/bmcminn/dnd-tools">https://github.com/bmcminn/dnd-tools</a>
            </p>
        </footer>
    </main>


    <template id="main">
        <h1>DnD Distance Calculator v{{version}}</h1>

        <p class="description">
            Converts miles to time for various modes of conveyance factoring in the max number of hours traveled per day.
        </p>


        <hr>


        <div>

            <div class="form-control">
                <label for="distance">Distance (miles):</label>
                <input type="number"
                    @change="cache"
                    id="distance"
                    name="distance"
                    min="0"
                    v-model="distance"
                >
            </div>

            <div class="form-control">
                <label for="hoursPerDay">Daily travel hours:</label>
                <input type="number"
                    @change="cache"
                    id="hoursPerDay"
                    name="hoursPerDay"
                    min="0"
                    max="24"
                    v-model="hoursPerDay"
                >
                <span v-if="unsafeTravelHours" class="danger-icon" :title="`Traveling for ${hoursPerDay} hours per day is dangerous`">!</span>
            </div>

            <!--
            <div>
                <label for="avgWalkingSpeed">Avg Walking Speed (mph):</label>
                <input type="number"
                    name="avgWalkingSpeed"
                    min="0"
                    step="0.5"
                    v-model="avgWalkingSpeed"
                >
            </div>

            <div>
                <label for="avgRidingSpeed">Avg Horseback Speed (mph):</label>
                <input type="number"
                    name="avgRidingSpeed"
                    min="0"
                    step="0.5"
                    v-model="avgRidingSpeed"
                >
            </div>

            <div>
                <label for="avgWagonSpeed">Avg Wagon Speed (mph):</label>
                <input type="number"
                    name="avgWagonSpeed"
                    min="0"
                    step="0.5"
                    v-model="avgWagonSpeed"
                >
            </div>
             -->

            <table>
                <thead>
                    <th style="min-width: 5em">Conveyance</th>
                    <th style="min-width: 5em">Avg <abbr title="miles per hour">MPH</abbr></th>
                    <th style="min-width: 5em">Travel hrs</th>
                    <th style="min-width: 5em">Weeks</th>
                    <th style="min-width: 5em">Days</th>
                    <th style="min-width: 5em">Hours</th>
                    <th style="min-width: 5em">Minutes</th>
                    <th style="min-width: 5em">Total hrs</th>
                </thead>

                <tbody>
                    <tr>
                        <td>Walking</td>
                        <td>
                            <label class="visually-hidden" for="avgWalkingSpeed">Avg Walking Speed (mph):</label>
                            <input type="number"
                                @change="cache"
                                name="avgWalkingSpeed"
                                id="avgWalkingSpeed"
                                min="0"
                                step="0.5"
                                v-model="avgWalkingSpeed"
                            >
                        </td>
                        <td class="text-end">{{ timeWalking.travelHours }}</td>
                        <td class="text-end">{{ timeWalking.weeks }}</td>
                        <td class="text-end">{{ timeWalking.days }}</td>
                        <td class="text-end">{{ timeWalking.hours }}</td>
                        <td class="text-end">{{ timeWalking.minutes }}</td>
                        <td class="text-end">{{ timeWalking.totalHours }}</td>
                    </tr>

                    <tr>
                        <td>Horse Back</td>
                        <td>
                            <label class="visually-hidden" for="avgRidingSpeed">Avg Horseback Speed (mph):</label>
                            <input type="number"
                                @change="cache"
                                name="avgRidingSpeed"
                                id="avgRidingSpeed"
                                min="0"
                                step="0.5"
                                v-model="avgRidingSpeed"
                            >
                        </td>
                        <td class="text-end">{{ timeRiding.travelHours }}</td>
                        <td class="text-end">{{ timeRiding.weeks }}</td>
                        <td class="text-end">{{ timeRiding.days }}</td>
                        <td class="text-end">{{ timeRiding.hours }}</td>
                        <td class="text-end">{{ timeRiding.minutes }}</td>
                        <td class="text-end">{{ timeRiding.totalHours }}</td>
                    </tr>

                    <tr>
                        <td>Wagon</td>
                        <td>
                            <label class="visually-hidden" for="avgWagonSpeed">Avg Wagon Speed (mph):</label>
                            <input type="number"
                                @change="cache"
                                name="avgWagonSpeed"
                                id="avgWagonSpeed"
                                min="0"
                                step="0.5"
                                v-model="avgWagonSpeed"
                            >
                        </td>
                        <td class="text-end">{{ timeWagon.travelHours }}</td>
                        <td class="text-end">{{ timeWagon.weeks }}</td>
                        <td class="text-end">{{ timeWagon.days }}</td>
                        <td class="text-end">{{ timeWagon.hours }}</td>
                        <td class="text-end">{{ timeWagon.minutes }}</td>
                        <td class="text-end">{{ timeWagon.totalHours }}</td>
                    </tr>

                    <tr>
                        <td>Boat</td>
                        <td>
                            <label class="visually-hidden" for="avgBoatSpeed">Avg Boat Speed (mph):</label>
                            <input type="number"
                                @change="cache"
                                name="avgBoatSpeed"
                                id="avgBoatSpeed"
                                min="0"
                                step="0.5"
                                v-model="avgBoatSpeed"
                            >
                        </td>
                        <td class="text-end">{{ timeBoat.travelHours }}</td>
                        <td class="text-end">{{ timeBoat.weeks }}</td>
                        <td class="text-end">{{ timeBoat.days }}</td>
                        <td class="text-end">{{ timeBoat.hours }}</td>
                        <td class="text-end">{{ timeBoat.minutes }}</td>
                        <td class="text-end">{{ timeBoat.totalHours }}</td>
                    </tr>
                </tbody>

            </table>

        </div>

    </template>


    <script type="module">
        import { createApp } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.prod.js?cache=123456789'

        createApp({

            components: {
            },

            template: document.querySelector('template#main').innerHTML.trim(),

            data() {
                return {
                    version: '0.2',
                    storageKey: 'dndDistanceState',
                    distance: 100,
                    hoursPerDay: 8,
                    safeTravelHours: 12,
                    avgWalkingSpeed: 3,
                    avgRidingSpeed: 12,
                    avgWagonSpeed: 6,
                    avgBoatSpeed: 7.5,
                }
            },

            methods: {

                calcTravelTime(mph) {
                    const travelHours = this.distance / mph // * (1 + (this.hoursPerDay / 24))
                    const totalHours = travelHours * (24 / this.hoursPerDay)

                    return {
                        weeks:      Math.floor(totalHours / (24 * 7)),
                        days:       Math.floor((totalHours / 24) % 7),
                        hours:      Math.floor(totalHours % 24),
                        minutes:    Math.floor(totalHours % 1 * 60),
                        totalHours: totalHours.toFixed(2),
                        travelHours: travelHours.toFixed(2),
                    }
                },

                cache() {
                    const data = JSON.stringify({
                        distance: this.distance,
                        hoursPerDay: this.hoursPerDay,

                        avgWalkingSpeed: this.avgWalkingSpeed,
                        avgRidingSpeed: this.avgRidingSpeed,
                        avgWagonSpeed: this.avgWagonSpeed,
                        avgBoatSpeed: this.avgBoatSpeed,
                    })

                    localStorage.setItem(this.storageKey, data)
                },

                readCache() {
                    return JSON.parse(localStorage.getItem(this.storageKey))
                },

            },

            computed: {
                timeWalking() { return this.calcTravelTime(this.avgWalkingSpeed) },
                timeRiding() { return this.calcTravelTime(this.avgRidingSpeed) },
                timeWagon() { return this.calcTravelTime(this.avgWagonSpeed) },
                timeBoat() { return this.calcTravelTime(this.avgBoatSpeed) },
                unsafeTravelHours() { return this.hoursPerDay > this.safeTravelHours },
            },

            mounted() {
                const data = this.readCache()

                if (data) {
                    this.distance           = data.distance ?? 100
                    this.hoursPerDay        = data.hoursPerDay ?? 12
                    this.avgWalkingSpeed    = data.avgWalkingSpeed ?? 3
                    this.avgRidingSpeed     = data.avgRidingSpeed ?? 12
                    this.avgWagonSpeed      = data.avgWagonSpeed ?? 6
                    this.avgBoatSpeed       = data.avgBoatSpeed ?? 7.5
                }
            },

        }).mount('#app')

    </script>

</body>
</html>
