<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DnD Tools -- Gambling -- Yip</title>

    <meta name="description" content="Tabulate your wins and losses for the game of Yip." />
    <meta name="version" content="v0.2" />

    <meta name="author" content="bmcminn <https://github.com/bmcminn>" />

    <link rel="stylesheet" href="../assets/normalize.css">
    <link rel="stylesheet" href="../assets/styles.css">

    <style>
        * + * {
            box-sizing: border-box !important;
        }
        textarea {
            width: 100%;
            padding: 0.5em;
        }
    </style>

</head> <body>

    <main>
        <header>
            <a href="../">&leftarrow; back</a>
        </header>

        <section id="app"></section>

        <footer>
            <details class="text-start" id="changelog">
                <summary>Changelog:</summary>

                <h3>2023-04-16</h3>
                <ul>
                    <li>Initial App setup; v0.1</li>
                </ul>
            </details>

            <p class="text-center">
                Source repo: <a href="https://github.com/bmcminn/dnd-tools">https://github.com/bmcminn/dnd-tools</a>
            </p>
        </footer>
    </main>


    <template id="yipgame">
        <h1>{{ title }} {{version}}</h1>

        <p class="description">
            {{ description }}
        </p>

        <h2>Rules</h2>

        <ul>
            <li>Minimum 5gp buy-in</li>
            <li>Roll <code>2d6</code></li>
            <li>If your dice add up to 7 or 12, you win your bet 2x</li>
            <li>If not, you can double your bet to add <code>1d6</code> to the total.</li>
            <li>Payout for winning players is 3:2.</li>
        </ul>


        <hr>


        <div>
            <div class="field">
                <label for="rounds">Rounds</label>
                <textarea
                    name="rounds"
                    id="rounds"
                    v-model="entries"
                    rows="10"
                ></textarea>
            </div>

            <table>
                <thead>
                    <th>Round</th>
                    <th>Wager</th>
                    <th>Die 1</th>
                    <th>Die 2</th>
                    <th>Double?</th>
                    <th>Total</th>
                    <th>Result</th>
                    <th>Tally</th>
                </thead>

                <tbody>
                    <tr v-for="(entry, index) in tabulations">
                        <th>{{ index + 1 }}</th>
                        <th v-if="entry.sum">{{ entry.wager }}gp</th>
                        <th v-if="!entry.sum"></th>
                        <th>{{ entry.d1 }}</th>
                        <th>{{ entry.d2 }}</th>
                        <th>{{ entry.d3 === 0 ? '' : entry.d3 }}</th>
                        <th>{{ entry.sum }}</th>
                        <th v-if="entry.sum">{{ entry.result > 0 ? 'win' : 'lose' }} {{ entry.result }}gp</th>
                        <th v-if="!entry.sum">{{ entry.result }}</th>
                        <th v-if="entry.sum">{{ entry.tally }}gp</th>
                        <th v-if="!entry.sum"></th>
                    </tr>
                </tbody>

            </table>

        </div>
    </template>

    <script src="../assets/helpers.js"></script>

    <script type="module">
        // import { createApp } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.prod.js'
        import { createApp } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'


        createApp({

            template: getTemplate('template#yipgame'),

            data() {
                return {
                    title: document.querySelector('title').innerText,
                    version: document.querySelector('meta[name="version"]').content,
                    description: document.querySelector('meta[name="description"]').content,
                    storageKey: 'dndGamblingYip',
                    entries: [
                        '5 1 7 x',
                        '5 2 3 x',
                        '5 6 6',
                    ].join('\n'),
                }
            },

            methods: {

                onUpdate($e, entry) {
                    console.log('onUpdate', entry)

                    this.cache()
                },


                cache() {
                    const data = JSON.stringify({
                        // distance: this.distance,
                        // hoursPerDay: this.hoursPerDay,
                        // restHours: this.restHours,
                        // forceHoursPerDay: this.forceHoursPerDay,
                        // entries: this.entries,
                    })

                    localStorage.setItem(this.storageKey, data)
                },

                readCache() {
                    return JSON.parse(localStorage.getItem(this.storageKey))
                },

            },

            computed: {
                tabulations() {
                    this.tally = 0

                    const _self = this

                    const entries = normalizeEntries(this.entries)
                        .map(entry => {

                            const { wager, d1, d2, d3, result } = entry

                            if (entry.result) { return entry }

                            entry.sum = d1 + d2 + d3

                            const doubled = !!d3 ? 2 : 1

                            if ([7, 12].some(el => (entry.sum) === el)) {
                                entry.result = entry.wager * 2 * doubled // 'win'
                            } else {
                                entry.result = entry.wager * -1 * doubled // 'loss'
                            }

                            _self.tally += entry.result

                            entry.tally = _self.tally

                            return entry
                        })

                    return entries
                },
            },

            mounted() {
                const data = this.readCache()

            },

        })
            // .component('round', EntryComponent)
            .mount('#app')


        function normalizeEntries(content, seperator=' ') {
            return content
                .split('\n')
                .map(entry => {

                    entry = entry.trim()

                    if (entry.startsWith('//') || isEmpty(entry)) { return false }

                    entry = entry.replace(/\s+/gi, seperator).split(seperator)

                    if (!isValidEntry(entry)) {
                        return { result: 'invalid entry' }
                    }

                    const [ wager, d1, d2, d3 ] = entry

                    return {
                        wager: Number(wager),
                        d1: Number(d1),
                        d2: Number(d2),
                        d3: Number(d3 ?? null),
                    }
                })
                .filter(entry => !!entry)
        }

        function isValidEntry(entry) {
            return entry.every((el, i) => {
                return !isNaN(Number(el))
            })
        }

    </script>

</body>
</html>
